# Semana03
Marcia Kori Timaná Espinoza

Temas:
    1. Números
    2. Variables
    3. Manejo de cadenas
    4. Ingreso de datos por teclado
    5. Operadores

2. Variables

In [1]:
#Siempre deben iniciar con una letra o un guión abajo. (Nunca con un número u otro símbolo)

In [2]:
edad = 19

In [3]:
edad

19

In [4]:
nombre = "Kori"

In [5]:
nombre

'Kori'

In [6]:
apellido = " Timana Espinoza"
apellido

' Timana Espinoza'

In [7]:
nombrecompleto = nombre + apellido
nombrecompleto

'Kori Timana Espinoza'

In [8]:
#Para saber el tipo de variable utilizamos la función type()
#Por ejemplo:
numero = 50
type(numero)

int

In [9]:
type(nombre)

str

In [10]:
talla = 1.60
talla

1.6

In [11]:
type(talla)

float

In [12]:
#Para convertir un número en cadena utilizamos str()
numero = 100
cadena = str(numero)
cadena

'100'

In [13]:
type(cadena)

str

In [14]:
#Para convertir una cadena a un entero utilizamos int()
cadena2 = "50"
numero2 = int(cadena2)
numero2

50

In [15]:
type(cadena2)

str

In [16]:
type(numero2)

int

In [17]:
#Para convertir una cadena a un decimal utilizamos float()
cadena2 = "50"
numero2 = float(cadena2)
numero2

50.0

In [18]:
type(numero2)

float